:root {
    --md-primary-fg-color: #343E48;
    --md-primary-fg-color--light: #70777E;
    --md-primary-fg-color--dark: #293139;
    --md-default-fg-color: #343E48;
    --md-footer-bg-color: #293139;
}